executor="sge"
custom_submit_options="-V"

walltime="00:10:00"
procs="1" 



commands {
        fastqc {
                walltime="1:0:0"
        }
        ngsqc {
                walltime="1:0:0"
        }
        bedtools {
                walltime="4:0:0"
        }
	varscan {
		walltime="4:0:0"
	}
	star {
                walltime="4:0:0"
        }
	bwa {
                walltime="4:0:0"
        }
	gatk {
		walltime="4:0:0"
	}
	picard {
                walltime="4:0:0"
	}
	samtools {
                walltime="4:0:0"
	}
	"filter_amplicon.sh" {
                walltime="4:0:0"
	}
	"filter_exome.sh" {
                walltime="4:0:0"
	}
	"filter_mouse.sh" {
                walltime="4:0:0"
	}
	python {
		walltime="4:0:0"
	}
}

